@{ 
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
  <title>Vickrey Ticket Auction Site - @ViewBag.Title</title>
  <meta charset="utf-8" />

  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
  <h1>Hello World!</h1>


  <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>